*{
    margin: 0;
    padding: 0;
     font-family: "Lato", sans-serif;
}

.header-section{
    display: flex;
    background: rgba(229, 84, 115, 0.1);
    justify-content: center;
    margin: 0px auto;
    gap: 97px;
}
 

.header-section-text{
 
 max-width: 708px;
 margin-top: 100px;
 
 
}
.header-section-text h1{
font-size: 3.8rem;
 color: rgb(39, 39, 39);
}
.header-section-text p{
   font-size:1.10rem;
   color: rgba(39, 39, 39, 0.6);
   margin-top: 10px;
   margin-bottom: 30px;

}

.header-section-image{
    max-width: 635px;
    margin-top: 50px;

}
.btn-1{
    background: rgb(229, 84, 115);
    padding:20px 43px 20px 43px;
    border-radius: 10px;
    color: white;
    border: none;
}
@media screen and (max-width:576px) {
    .header-section{
        flex-direction: column;
    }

    .header-section-text{
        margin: 0 auto;
        padding: 15px;
    }
    .header-section-image{
        margin: 0 auto;
    }
}
.section-featured{
    /* display: flex; */
}
.section-featured-text{
    text-align: center;
    max-width: 594px;
    margin-top: 178px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
/* .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.section-featured-image{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex: 1; */
  gap: 30px;
  max-width:1440px;
  margin: 0 auto;
}


.png-10{
    /* max-width: 310px; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.section-featured-image>div> img{
    width: 100%;
    text-align: center;
}
.png-5{
    /* max-width: 370px; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.png-7{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-featured-image-text{
    background-color: white;
    color: rgb(39, 39, 39);
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 32px;
}
.card-data{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1440px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 370px 316px 202px;
    justify-content: space-around;
    gap: 100px;
    padding: 86px 175px;
    margin-top: 128px;
}
.card-data> div{
       text-align: center;
}
.card-data> div>p{
    margin-top: 20px;
     color: rgba(39, 39, 39, 0.8);
     font-size: 24px;
    }