*{
    margin: 0;
    padding: 0;
     font-family: "Lato", sans-serif;
}

.header-section{
    display: flex;
    background: rgba(229, 84, 115, 0.1);
    justify-content: center;
    margin: 0px auto;
    gap: 97px;
}
 

.header-section-text{
 
 max-width: 708px;
 margin-top: 100px;
 
 
}
.header-section-text h1{
font-size: 3.8rem;
 color: rgb(39, 39, 39);
}
.header-section-text p{
   font-size:1.10rem;
   color: rgba(39, 39, 39, 0.6);
   margin-top: 10px;
   margin-bottom: 30px;

}

.header-section-image{
    max-width: 635px;
    margin-top: 50px;

}
.btn-1{
    background: rgb(229, 84, 115);
    padding:20px 43px 20px 43px;
    border-radius: 10px;
    color: white;
    border: none;
}
@media screen and (max-width:576px) {
    .header-section{
        flex-direction: column;
    }

    .header-section-text{
        margin: 0 auto;
        padding: 15px;
    }
    .header-section-image{
        margin: 0 auto;
    }
}